version: 2

jobs:
  self-check:
    docker:
      - image: circleci/python:3.7

    steps:
      - checkout

        # Set up a cached virtualenv in which to install things
      - run:
          name: Merge requirements
          command: |
            cat script/linting/requirements.txt >> scripts/requirements.txt
            cat script/typing/requirements.txt >> scripts/requirements.txt
      - restore_cache:
          name: Restore build dependency cache
          key: deps-venv-{{ .Branch }}-{{ .Environment.CIRCLE_STAGE }}-{{ checksum "scripts/requirements.txt" }}
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r scripts/requirements.txt
      - save_cache:
          name: Save build dependency cache
          key: deps-venv-{{ .Branch }}-{{ .Environment.CIRCLE_STAGE }}-{{ checksum "scripts/requirements.txt" }}
          paths:
            - "venv"

      - run:
          command: script/linting/lint
          environment:
            FLAKE8: venv/bin/flake8
      - run:
          command: script/typing/check
          environment:
            MYPY: venv/bin/mypy

  validate:
    docker:
      - image: circleci/python:3.7

    steps:
      - checkout

        # Set up a cached virtualenv in which to install things
      - restore_cache:
          name: Restore build dependency cache
          key: deps-venv-{{ .Branch }}-{{ .Environment.CIRCLE_STAGE }}-{{ checksum "scripts/requirements.txt" }}
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r scripts/requirements.txt
      - save_cache:
          name: Save build dependency cache
          key: deps-venv-{{ .Branch }}-{{ .Environment.CIRCLE_STAGE }}-{{ checksum "scripts/requirements.txt" }}
          paths:
            - "venv"

      - run:
          name: Validate reachability
          command: |
            . venv/bin/activate
            ./scripts/validate comp/main
            ./scripts/validate kickstart/main
            ./scripts/validate pre/main
            ./scripts/validate test/main


workflows:
  version: 2
  validate:
    jobs:
      - self-check
      - validate
